<ul *ngIf="user||true" nz-menu nzMode="inline"
    style="width: 240px;height: 100vh;display: inline-block;position: fixed;overflow-x: hidden;overflow-y: auto">
  <li
    (nzOpenChange)="openHandler('sub1')"
    [(nzOpen)]="openMap.sub1"
    nz-submenu
    nzIcon="question-circle"
    nzTitle="Menu"
  >
    <ul>
      <li nz-menu-item routerLink="/">Sub Menu 1</li>
      <li nz-menu-item routerLink="/">Sub Menu 2</li>
    </ul>
  </li>
  <li
    (nzOpenChange)="openHandler('sub2')"
    [(nzOpen)]="openMap.sub2"
    nz-submenu
    nzIcon="question-circle"
    nzTitle="Provision"
  >
    <ul>
      <li nz-menu-item routerLink="/bill">Liste</li>
      <li nz-menu-item routerLink="/bill/add">Ajouter provision</li>
    </ul>
  </li>
  <li
    (nzOpenChange)="openHandler('sub3')"
    [(nzOpen)]="openMap.sub3"
    nz-submenu
    nzIcon="question-circle"
    nzTitle="Paiements"
  >
    <ul>
      <li nz-menu-item routerLink="/payment/cash">Espèces</li>
      <li nz-menu-item routerLink="/payment/check">Chèques</li>
      <li nz-menu-item routerLink="/payment/add">Ajouter un paiement</li>
    </ul>
  </li>
  <li
    (nzOpenChange)="openHandler('sub4')"
    [(nzOpen)]="openMap.sub4"
    nz-submenu
    nzIcon="question-circle"
    nzTitle="Product"
  >
    <ul>
      <li nz-menu-item routerLink="/product">Liste</li>
      <li nz-menu-item routerLink="/product/new">New</li>
    </ul>
  </li>
  <li
    (nzOpenChange)="openHandler('sub5')"
    [(nzOpen)]="openMap.sub5"
    nz-submenu
    nzIcon="question-circle"
    nzTitle="Category"
  >
    <ul>
      <li nz-menu-item routerLink="/category">Liste</li>
      <li nz-menu-item routerLink="/category/new">New</li>
    </ul>
  </li>
  <li *ngIf="false"
      (click)="logout()"
      nz-menu-item
  >
    <i nz-icon nzType="poweroff"></i>
    Se déconnecter
  </li>
</ul>
