<h3>Produits</h3>
<nz-table [nzLoading]="loading" #basicTable [nzData]="products">
  <thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{data.name}}</td>
    <td>{{data.category.name}}</td>
    <td>
      <a [routerLink]="['/product/', data.id]">Show</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a routerLink="edit/{{data.id}}">Edit</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="delete(data.id)">Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
