<nz-spin [nzSpinning]="loading">
  <ng-container *ngIf="bill">
    <h3>{{bill.provider.name}}</h3>
    <h6>{{bill.date|date:'dd-MM-y'}}</h6>
    <div>
      <p>Timbre fiscal {{bill.tax_stamp}}</p>
      <p>Total {{total}}</p>
    </div>
    <nz-table #basicTable [nzData]="bill.products" [nzShowPagination]="false" [nzFrontPagination]="false">
      <thead>
      <tr>
        <th>Produit</th>
        <th>Qté</th>
        <th>Prix unitaire</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of bill.products">
        <td>{{ product.name }}</td>
        <td>{{ product.purchase.quantity }}</td>
        <td>{{ product.purchase.price }}</td>
        <td>{{product.purchase.quantity * product.purchase.price}}</td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-spin>
