<nz-table #basicTable [nzData]="categories">
  <thead>
  <tr>
    <th>Name</th>
    <th>Products</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{data.name}}</td>
    <td>
      [
        <span *ngFor="let product of data.products">{{product.name}}</span>
      ]
    </td>
    <td>
      <a routerLink="{{data.id}}">Show</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Edit</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
